.App {
  height: 100vh;
  text-align: center;
  display: grid;
  grid-template-rows: 150px 1fr 30px;
}

.Loading {
  background: url("https://images.pexels.com/photos/2098428/pexels-photo-2098428.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
  display: grid;
  place-content: center;
  align-content: center;
  color: #fafafa;
}

.Loading p {
  margin-top: 25px;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 12px;
}

main {
  display: flex;
}

main section {
  margin-top: 12px;
}

section {
  display: flex-rows;
  gap: 20px;
}

.dailyImage {
  margin: 12px;
  max-width: 80%;
  max-height: 75vh;
}

.content {
  /* place-content: center; */
  margin: auto 60px;
  /* margin: 12px; */
  padding: 20px;
  max-width: 900px;
}

.content p {
  text-align: left;
}

footer {
  background-color: #e4e4e7;
  padding: 7px;
  display: flex;
  gap: 10px;
}

.mom {
  padding: 15px;
  margin: 15px;
  font-weight: 800;
  color: #075985;
}

@media screen and (max-width: 700px) {

  header {
    height: fit-content
  }

  main {
    display: grid;
    padding-bottom: 7px;
    align-items: center;
    justify-content: center;
  }

  .content,
  img {
    margin: auto;
    margin-top: 12px;
  }

  .content {
    padding: 12px;
    text-align: left;
  }

  .mom h2 {
    font-weight: 800;
  }

  .mom h3 {
    font-weight: 800;
  }

  footer {
    height: fit-content;
  }
}